
{% extends "::dashboardLayout.html.twig" %}

{% set title = "Emails" %}

{% block body %}

<table class="table table-stripedNoNo table-hover table-condensedNo">

	<thead>
		<tr>
			<th>
				Date
			</th>
			<th>
				Email
			</th>
			<th>
				IP
			</th>
		</tr>
	</thead>
	
	<tbody>
		{% for email in listEmails %}
		<tr>
			<td>
				{{ email.dateEmail|date("Y-m-d H:i") }}
			</td>
			<td>
				{{ email.emailAddress }}
			</td>
			<td>
				{{ email.ipAddress }}
			</td>
		</tr>
		{% endfor %}
	</tbody>

</table>

{% endblock %}
