<body>

<h1>Admin</h1>

<h2>
	<a href="{{ path('admin_question_list') }}">
		FAQ
	</a>
</h2>

<h2>
	<a href="{{ path('admin_email_list') }}">
		Emails
	</a>
</h2>

<h2>
	<a href="{{ path('admin_user_list') }}">
		Users
	</a>
</h2>

</body>