
{% extends "::dashboardLayout.html.twig" %}

{% set title = "Users" %}

{% block body %}


<table class="table table-stripedNoNo table-hover table-condensedNo">

	<thead>
		<tr>
			<th>
				Username
			</th>
			<th>
				Email
			</th>
			<th>
				Rôle
			</th>
			<th>
				Last login
			</th>
		</tr>
	</thead>
	
	<tbody>
		{% for user in listUsers %}
		<tr>
			<td>
				{{ user.username }}
			</td>
			<td>
				{{ user.email }}
			</td>
			<td>
				{{ user.rolesInString }}
			</td>
			<td>
				{{ user.lastLogin|date("Y-m-d H:i") }}
			</td>
		</tr>
		{% endfor %}
	</tbody>

</table>

{% endblock %}