{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="row">
	<div class="col-sm-offset-3 col-sm-6 text-center">
		<h2>Un email vous a été envoyé afin de valider votre adresse.</h2>
		Veuillez cliquer sur le lien contenu dans l'email afin de terminer l'inscription.
		<br />
		<small>(Pensez à vérifier vos SPAMS au cas où)</small>
	</div>
</div>

    
{% endblock fos_user_content %}



