{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="row">
	<div class="col-sm-offset-3 col-sm-6 text-center">
		<h1>Welcome! </h1>
		You are going to be redirected to the table in a few seconds
	    <meta http-equiv="refresh" content="1;URL={{ path('dashboard_homepage') }}">
	</div>
</div>

    
{% endblock fos_user_content %}
