{# On étend notre layout à nous #}
{% extends "::userLayout.html.twig" %}


{% block description %}{% endblock %}


{# Dans notre layout, il faut définir le block body #}
{% block body %}

{# On y place le contenu du layout par défaut de FOSUB : https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/views/layout.html.twig #}



<section class="sectionClassicFont">

<div class="row middleLine">
  
	        {% for key, message in app.session.flashbag.all %}
	        <div class="{{ key }}">
	    
	        </div>
	        {% endfor %}
	
	        <div>
	            {% block fos_user_content %}
	            {% endblock fos_user_content %}
	        </div>     

</div>
	        
</section>
	        
{% endblock %}