{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="row">
<div class="col-sm-offset-4 col-sm-4">
	<div class="alert alert-success" role="alert">
		Un email vous a été envoyé avec la procédure à suivre.
		<br />
		<small>(Pensez à vérifier vos SPAMS au cas où)</small>
	</div>
</div>	
</div>
	
{% endblock fos_user_content %}



