{% extends "base-home.html" %}
{% load static %}
{% block content %}
<!-- Wrapper -->
    <div class="wrapper">
        {% load socialaccount %}

        <h1>legacy auth</h1>
        {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>
        <p><a href="{% url 'account_logout' %}">Log out</a>
        {% else %}
        <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
        <p><a href="{% url 'account_login' %}">Log In </a></p>
        <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
        {% endif %}
    </div>

    <div id="wrapper" class="divided">
        <!-- intro -->
            <section class="banner style5 colorlegacyblue orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
                <div class="content">
                    <h1><img src="{% static 'home/images/logo.png' %}" alt="Legacy" style="width: 40%;"></h1>
                    <p class="major fontcolorwhite">An ethereum, blockchain-based smart will solution for the digital era</p>
                    <br>
                    <br>
                    <br>
                    <ul class="actions stacked">
                        <li><a style="text-decoration: none; box-shadow: none;" href="#first" class="allwhite smooth-scroll-middle"><i class="fas fa-arrow-down fa-3x"></i></a></li>
                    </ul>
                </div>
            </section>

        <!-- resources -->
            <section class="spotlight style2 colorlegacyblue orient-right content-align-left image-position-center onscroll-image-fade-in fontcolorwhite" id="first">
                <div class="content">
                    <h2 class="fontcolorwhite">White paper and source code</h2>
                    <p>Draft version v0.7.1</p>
                    <ul class="actions stacked">
                        <li><a href="https://legacy.network/assets/home/pdf/Legacy_white_paper_v072.pdf" class="button allwhite">whitepaper</a></li>
                    </ul>
                    <p>Code repository: dapp, smart contrats and whitepaper</p>
                    <ul class="actions stacked">
                        <li><a href="https://github.com/legacynetwork" class="button allwhite">github</a></li>
                    </ul>
                </div>
                <div class="image">
                    <img src="{% static 'home/images/whitepaper.png' %}" alt=""/>
                </div>
            </section>

        <!-- video -->
            <section class="wrapper style3 align-center">
                <div class="inner ">
                    <br>
                    <br>
                    <h2>2 minute recap</h2>
                    <!-- Video -->
                    <iframe class="video" src="https://www.youtube.com/embed/XV6yTXajqYQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <!-- /Video -->
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </section>

        <!-- what -->
            <section class="wrapper style1 align-center allwhite colorlegacyblue">
                <div class="inner">
                    <h2 class="fontcolorwhite">Transfer your memories and belongings</h2>
                    <div class="items style3 medium onscroll-fade-in align-left">
                        <section>
                            <span class="style2 major fas fa-cloud-upload-alt fa-5x"></span>
                            <br>
                            <br>
                            <h3 class="fontcolorwhite">1. Upload your content into capsules</h3>
                            <p>Each capsule is composed of "memories" which are files you can upload or create directly in-app.</p>
                        </section>
                        <section>
                            <span class="style2 major fas fa-user-plus fa-5x"></span>
                            <br>
                            <br>
                            <h3 class="fontcolorwhite">2. Assign people to the capsule</h3>
                            <p>Add people from your contact list to every capsule. or redundancy, its better to add as many contact points as possible.</p>
                        </section>
                        <section>
                            <span class="style2 major fas fa-sliders-h fa-5x"></span>
                            <br>
                            <br>
                            <h3 class="fontcolorwhite">3. Setup capsule conditions</h3>
                            <p>After setting conditions, there isn't much else to do. Once the conditions are met, the live-man's switch is activated and your capsules will be sent. They may also be updated at any point.</p>
                        </section>
                    </div>
                </div>
            </section>

        <!-- tech -->
            <section class="wrapper style1 colorlegacydarkgray align-center fontcolorwhite">
                <div class="inner">
                    <h2 class="fontcolorwhite">Ethereum technology</h2>
                    <div class="items style1 medium onscroll-fade-in">
                        <section>
                            <span class="helperimage style2 major"><img class="helperimage" src="{% static 'home/images/objects.png' %}" alt=""> </span>
                            <br>
                            <br>
                            <h3 class="fontcolorwhite align-left">SEND ANYTHING</h3>
                            <ul>
                                <li class="align-left">Memories such as letters or videos (IPFS)</li>
                                <li class="align-left">Ether and ethereum tokens (ERC20 or others)</li>
                                <li class="align-left">Digital smart-property of any object (according to the local laws)</li>
                            </ul>
                        </section>
                        <section>
                            <span class="helperimage style2 major"><img class="helperimage" src="{% static 'home/images/simple.png' %}" alt=""> </span>
                            <br>
                            <br>
                            <h3 class="fontcolorwhite align-left">SIMPLE</h3>
                            <p class="align-left">Setup your memory capsules and modify them in few, simple steps.
                                <br>
                                The dapp will be a responsive design accesible on web and mobile devices.
                            </p>
                        </section>
                        <section>
                            <span class="helperimage style2 major"><img class="helperimage" src="{% static 'home/images/longlasting.png' %}" alt=""></span>
                            <br>
                            <br>
                            <h3 class="fontcolorwhite align-left">SAFE AND LONG LASTING</h3>
                            <p class="align-left">Built on top of the Ethereum blockchain, the service is guaranteed to last for many years.
                                <br>
                                <br>
                                A decentralized version with self-hosting files on multiple devices and locations is planned for a future version.
                            </p>
                        </section>
                    </div>
                </div>
            </section>

        <!-- Team -->
            <section class="wrapper style1b align-center ">
                <div class="inner no-padding small-margin">
                    <br>
                    <br>
                    <br>
                    <h2 class="">Founding Team</h2>
                    <div class="items align-left style3 small onscroll-fade-in">
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/faraggi/">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/FF2_BW.jpg' %}" alt=""> </span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                                <h3 class="">Felipe Faraggi</h3>
                                <h4>CEO</h4>
                                <p>
                                    Entrepreneur ​/ ​Python / Vyper / <br> Solidity ​Documentation Contributor
                                    <br>
                                    <!--
                                    <b>Previous ​projects</b>:
                                    <br>
                                    <a href="http://etheresante.com">etheresante.com</a>, <a href="https://​willty.com">​willty.com</a>, <a href="https://yagan.io">yagan.io</a>
                                    <br>
                                    -->
                                </p>
                        </section>
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/vicente-almonacid">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/VA2_BW.jpg' %}" alt=""> </span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                            <h3 class="">Vicente Almonacid, PhD</h3>
                            <h4>CSO</h4>
                            <p>
                                ​Network ​and ​Communications engineer
                                <br>
                                <!--
                                <b>Previous ​projects</b>:
                                <br>
                                <a href="https://drive.google.com/open?id=1WMmOKa5HLNmpapnqhWmGf8HB7gSocXBG">​Cross-layer Design Applied to Small Satellites for Data Collection</a>
                                 -->
                            </p>
                        </section>
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/guillaume-figielski">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/GF2_BW.jpg' %}" alt=""></span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                            <h3 class="">Guillaume Figielski</h3>
                            <h4>CTO</h4>
                            <p>
                                C.S. ​Engineer ​/ ​Solidity ​/ <br>
                                ​V.R. ​Professional
                                <!--
                                <br>
                                Previous ​projects
                                ​girosense.com
                                 -->
                            </p>
                        </section>

                    </div>
                </div>
            </section>

        <!-- Team2 -->
            <!-- <section class="wrapper style1 align-center ">
                <div class="inner no-padding small-margin">
                    <div class="items align-left style3 small onscroll-fade-in">
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/faraggi/">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/FF2_BW.jpg' %}" alt=""> </span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                                <h3 class="">Felipe Faraggi</h3>
                                <h4>CEO</h4>
                                <p>
                                    Entrepreneur ​/ ​Python / Vyper / <br> Solidity ​Documentation Contributor
                                    <br>
                                </p>
                        </section>
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/vicente-almonacid">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/VA2_BW.jpg' %}" alt=""> </span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                            <h3 class="">Vicente Almonacid, PhD</h3>
                            <h4>CSO</h4>
                            <p>
                                ​Network ​and ​Communications engineer
                                <br>
                            </p>
                        </section>
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/guillaume-figielski">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/GF2_BW.jpg' %}" alt=""></span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                            <h3 class="">Guillaume Figielski</h3>
                            <h4>CTO</h4>
                            <p>
                                C.S. ​Engineer ​/ ​Solidity ​/ <br>
                                ​V.R. ​Professional
                            </p>
                        </section>
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/guillaume-figielski">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/GF2_BW.jpg' %}" alt=""></span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                            <h3 class="">Guillaume Figielski</h3>
                            <h4>CTO</h4>
                            <p>
                                C.S. ​Engineer ​/ ​Solidity ​/ <br>
                                ​V.R. ​Professional
                            </p>
                        </section>

                    </div>
                </div>
            </section> -->

        <!-- advisors -->
            <section class="wrapper style1b align-center ">
                <div class="inner">
                    <h2 class="">Advisors</h2>
                    <div class="items align-left style3 small onscroll-fade-in ">
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/adrianbrink/">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/ab_BW.jpg' %}" alt=""> </span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                                <h3>Adrian Brink</h3>
                                <p>
                                    Core Developer & Head of Community
                                    <br>
                                    <a href="https://cosmos.network">Tendermint & Cosmos</a>
                                </p>
                        </section>
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/jbouteloup/">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/jb.jpg' %}" alt=""> </span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                            <h3 class="">Julien Bouteloup</h3>
                            <p>
                                Entrepreneur - Blockchain and AI developer
                                <br>
                                SW & HW engineer.
                            </p>
                        </section>
                        <section>
                            <div class="imagecontainer">
                                <a href="https://www.linkedin.com/in/rafaelmery/">
                                    <span class="teamimage style2 major"><img class="teamimage" src="{% static 'home/images/team/rm.jpg' %}" alt=""></span>
                                    <div class="overlay">
                                        <span class="style2 fab fa-linkedin fontcolorlegacyblue overlay-icon"></span>
                                    </div>
                                </a>
                            </div>
                            <h3 class="">Rafael Mery</h3>
                            <p>
                                Lawyer
                                <br>
                                Professor of Law and Economics
                            </p>
                        </section>

                    </div>
                </div>
            </section>

        <!-- contact form -->
            <section id="contact" class="wrapper style1 colorlegacyblue fontcolorwhite align-center">
                <div class="inner medium">
                    <h2 class="fontcolorwhite">Get in touch</h2>
                    <form method="post" action="{% url 'support:thanks_message' %}#contact">
                        {% csrf_token %}
                        <div class="fields">
                            <div class="field half">
                                <label class="fontcolorwhite" for="name">Name</label>
                                <input type="text" name="name" id="name" value="" />
                            </div>
                            <div class="field half">
                                <label class="fontcolorwhite" for="from_email">Email</label>
                                <input type="email" name="from_email" id="from_email" value="" />
                            </div>
                            <div class="field">
                                <label class="fontcolorwhite" for="message">Message</label>
                                <textarea name="message" id="message" rows="6"></textarea>
                            </div>
                        </div>
                        <ul class="actions special">
                            <li><input class="fontcolorwhite" type="submit" name="submit" id="submit" value="Send Message" /></li>
                        </ul>
                    </form>
                </div>
            </section>

        <!-- email form -->
            <section id="subscribe" class="wrapper style1 colorlegacyblue fontcolorwhite align-center">
                <div class="inner small">
                    <h2 class="fontcolorwhite">Stay up to date...</h2>
                    <form method="post" action="{% url 'support:thanks_email' %}#subscribe">
                        {% csrf_token %}
                        <div class="fields">
                            <div class="field">
                                <input type="email" name="email" id="email" value="" placeholder="email@domain.com"/>
                            </div>
                        </div>
                        <ul class="actions special">
                            <li><input class="fontcolorwhite" type="submit" name="submit" id="submit" value="Subscribe" /></li>
                        </ul>
                    </form>

                </div>
            </section>

        <!-- Footer -->
            <footer class="wrapper style1 align-center colorlegacyblue">
                <div class="inner">
                    <ul class="icons">
                        <li>
                            <a href="https://twitter.com/aLegacyNetwork">
                                <i class="fontcolorwhite style2 fab fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/legacy_network">
                                <i class="fontcolorwhite style2 fab fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:contact@legacydapp.com">
                                <i class="fontcolorwhite style2 fas fa-envelope fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://medium.com/legacy-network/">
                                <i class="fontcolorwhite style2 fab fa-medium fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="fontcolorwhite">&copy; Legacy Network</p>
                </div>
            </footer>

    </div>

{% endblock %}

{% block scripts %}
    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
